.bills-input-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding-top: 5rem;
  margin: 0 auto;
}

.input-full-width {
  width: 100%;
}

.btn-add {
  padding-top: 1rem;
}

td {
  padding-right: 8px;
}

.bills-table {
  min-width: 800px;
  max-width: 1000px;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  margin: 0 auto;
}

.btn-remove-bill {
  float: right;
  padding-bottom: 1rem;
}
